<div class="header">OLA K TAL</div>
<div class="flex-container">
  <div class="container-item-special">
    <div>
      <h4>BETSLIP</h4>
    </div>
    <div class="special-content">
      CONTENT
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit ante ex, quis molestie mi viverra in.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit ante ex, quis molestie mi viverra in.
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam suscipit ante ex, quis molestie mi viverra in.
    </div>
    <div class="special-content-button">
      <button>POOOOM</button>
    </div>
  </div>
  <div *ngFor="let box of betsDemoArray; let index = i"
       [ngClass]="box.class">
    <div>
      <div style="padding-bottom: 5px" (click)="box.expanded = !box.expanded">
        <h4>{{box.header}}</h4>
      </div>
      <div [ngStyle]="{'display': box.expanded === false ? 'none' : 'block'}">
        {{box.name}}
      </div>
    </div>
  </div>
  <!--  <div class="container-item" (click)="onclickDiv()">1</div>-->
  <!--  <div class="container-item">2</div>-->
  <!--  <div class="container-item">3</div>-->
</div>
<router-outlet></router-outlet>
