html {
  //overflow-x: hidden !important;
  //overflow-y: hidden !important;
}

body {
  background-color: rgba(242, 148, 7, 0.73);
}

.header {
  background-color: lightblue;
  height: 30px;
  font-family: Impact, serif;
  margin: 5px;
}

.footer-container {
  flex-basis: 100%;
  //clear: both;
  //z-index: 1;
  width: 100%;
  height: 100px;
  background: #333333;
}

.footer {
  padding: 10px;
  color: #ffffff;
}

.flex-wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-container {
  flex: 1 1 33%;
  height: 100%;
  min-height: 100vh;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.middle-block {
  margin: 5px;
  border-radius: 5px;
  // padding: 2px;
  max-width: inherit;
  background-color: burlywood;

  display: grid;
  //grid-template-columns: [firstCol] 50% [secondCol] 50% [veryEndCol];
  //align-items: start;
  //gap: 0 5px;
  grid-template-columns: 50% 50%;
  // grid-template-rows: auto;
  //grid-template-rows: [firstRowStart] 25% [firstRowEnd secondRowStart] 25% [veryEndRow];
}

.box {
  background-color: #444;
  color: #fff;
  margin: 1px;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  text-align: center;
}

.container-item-special {
  color: #000000;
  flex: 1 1 auto;
  border-radius: 1rem;
  background-color: rgba(28, 217, 246, 0.91);
  padding: 15px;
  margin: 5px;
  border: black solid 3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .special-content {
    color: brown;
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    flex-grow: 1;
  }

  .special-content-button {
    color: brown;
    text-transform: uppercase;
    text-align: center;
    padding: 15px;
  }
}

.container-item {
  color: #000000;
  flex-grow: 2;
  background-color: aqua;
  padding: 15px;
  margin: 5px;
  border: black solid 3px;

  &.expandedAsFuck {
    flex-grow: 5;
    background-color: red;
  }

  &.collapsedLol {
    flex-grow: 0;
  }
}

@media (max-width: 576px) {
  .container-item-special {
    color: #000000;
    flex: 1 1 auto;
    background-color: orangered;
    padding: 20px;
    margin: 5px;
    border: aquamarine solid 3px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;

    .special-content {
      color: white;
      padding: 15px;
      text-transform: uppercase;
      text-align: center;
      flex: 1 1 1px;
    }

    .special-content-button {
      color: brown;
      text-transform: revert;
      text-align: center;
      padding: 15px;
    }
  }
}

.lorem-content {
  padding: 30px;
}

@media (max-width: 1779px) {
  .flex-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }
}
