<nav class="header">THIS IS THE HEADER BRO</nav>
<div class="flex-wrapper">
  <div class="flex-container">
    <div class="container-item-special">
      <div>
        <h2>{{selectedClub.teamName}}</h2>
        <ul>
          <li *ngFor="let player of currentPlayers" class="special-content"
              [ngClass]="selectedClub.teamName !== INITIAL ? 'visible' : 'hidden'">
            {{player.playerName}}
          </li>
        </ul>
      </div>
      <!--      <div class="special-content-button">-->
      <!--        <button>POOOOM</button>-->
      <!--      </div>-->
    </div>
    <div *ngFor="let box of betsDemoArray; let index = i"
         [ngClass]="box.class">
      <div>
        <div style="padding-bottom: 5px" (click)="box.expanded = !box.expanded">
          <h4>{{box.header}}</h4>
        </div>
        <div [ngStyle]="{'display': box.expanded === false ? 'none' : 'block'}">
          {{box.name}}
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container grid-player">
    <!--    <div-->
    <!--      *ngFor="let club of clubs; let i = index"-->
    <!--      class="box"-->
    <!--      (click)="getClubPlayersOnClick(club.teamName, $event)"-->
    <!--      [ngClass]="(selectedClub.teamName === club.teamName) ? 'selected' : 'non-selected'">-->
    <!--      <img [src]="getClubImage(i)" alt="">-->
    <!--      <div>-->
    <!--        {{club.teamName}}-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="box x">
      <img src="https://cdn.sofifa.com/teams/241/light_120.png" alt="">
    </div>
    <div class="box w">
      <img src="https://cdn.sofifa.com/players/158/023/20_120.png" alt="">
    </div>
    <div class="box y">
      <div>
        Name: L. Messi <br/>
      </div>
      <div>
        Club: FC Barcelona <br/>
      </div>
      <div>
        Age: 32 <br/>
      </div>
      <div>
        Country: Argentina
      </div>
    </div>
    <div class="box z">
      Right
    </div>
  </div>
  <div class="footer-container">
    <div class="footer">
      THIS IS THE FOOTER BROL
      <div id="grid">
        <div style="grid-area: x">Left</div>
        <div style="grid-area: y">Header</div>
        <div style="grid-area: z">Footer</div>
        <div style="grid-area: w">Right</div>
        <div style="grid-area: center">Main</div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
